
header {
    margin-bottom: 150px;
}

section {
    text-align: center;
}

#button1 {
    font-size: 20px;
    display: inline;
}

#time {
    font-size: 25px;
    display: inline;
    padding-left: 400px;
}

#title {
    text-align: center;
    font-size: 60px;

}

#button2 {
    font-size: 30px;
    background-color: lightgreen;
    margin: 10px;

}

